[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pyqtwebengine = "*"
pycrossva = ">=0.97"
interva = ">=0.0.7"
vacheck = ">=0.0.3"
insilicova = "*"
matplotlib = "==3.6.3"
sphinx  = "*"
pandas = "==2.0.3"
sphinxemoji = "*"
cx-freeze = ">=6.5.12"

[requires]
python_version = "3.11"
