[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pandas = "*"
pycrossva = "==0.93"
interva = "==0.0.4"
vacheck = "==0.0.2"
insilicova = {git = "https://github.com/verbal-autopsy-software/pyinsilicova"}
matplotlib = "==3.6.3"
